<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Abuela Sorda</title>
</head>

<body>
  <h1>Abuela Sorda </h1>
    <p>Di algo abuela</p>

  <form action="/" method="post">
    <input type="text" name="abuela" value="">
    <input type="submit" name="enviar" value="Dilo!!">
</body>
</html>
